doctype html
html(lang='zh-cn')
  head
    include ../../../common/views/head.pug
    block title
      title #{config.name}
    link(rel='stylesheet' href=config.common_assets + '/css/mlyx.css?v=' + config.version)
    link(rel='stylesheet' href=config.assets + '/css/main.css?v=' + config.version)
    block styles
    <!--[if lt IE 9]>
    script(src=config.common_assets + '/components/html5shiv/html5shiv.js?v=' + config.version)
    <![endif]-->
    script(src=config.common_assets + '/components/jquery/v1/jquery.js')
    script(src=config.common_assets + '/js/login.js?v=' + config.version)
  body
    - var nav = 'game'
    include ../../../common/views/topbar.pug
    include ../../../common/views/navbar.pug
    block content
    include ../../../common/views/footer.pug
    block scripts
    include ../../../common/views/analytics.pug