h3.commonbigtitle
  | 客服中心
  span / Customer Service
.servicecenter
  | 研发：深圳墨麟科技股份有限公司
  br
  | 客服电话：#{config.infos.server_phone} 周1-5
  br
  | 客服时间：早9:30-晚18:30
  br
  | 客服邮箱：#{config.infos.server_email}
  br
  | 客服中心：
  a.go(href=config.site_url.customer_url) 点此进入
  br
  | QQ：
  //- img(style="CURSOR: pointer;vertical-align: middle;", onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=2880500813&o=墨麟游戏&q=7', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');", border="0" SRC='http://wpa.qq.com/pa?p=1:2880500813:1' alt="点击这里给我发消息" title="2880500813")
  a(target="_blank",href="http://wpa.qq.com/msgrd?v=3&uin=2880500813&site=qq&menu=yes")
    img(border="0" style="vertical-align:middle;" src="http://wpa.qq.com/pa?p=2:2880500813:51" alt="点击这里给我发消息" title="2880500813")