.nav.container
  ul.right
    li.padding-left
      a(href=config.site_url.pay_center)
        dl
          dt 充值中心
          dd PAY
          dd CENTER
    li.padding-left
      a(href=config.site_url.client_download)
        dl
          dt 微端下载
          dd CLIENT
          dd DOWNLOAD
    li.padding-left
      a(href=config.site_url.game_forum)
        dl
          dt 游戏论坛
          dd GAME
          dd FORUM
  ul.left
    li.padding-right
      a(href=config.url)
        dl
          dt 游戏官网
          dd SITE
          dd HOME
    li.padding-right
      a(href=config.site_url.news_center)
        dl
          dt 新闻中心
          dd NEWS
          dd CENTER
    li.padding-right
      a(href=config.site_url.game_data)
        dl
          dt 游戏资料
          dd GAME
          dd DATA